{% extends 'base.html.twig' %}

{% block body %}
    <h1>Warehouses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Datcre</th>
                <th>Datupd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td><a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">{{ warehouse.id }}</a></td>
                <td>{{ warehouse.name }}</td>
                <td>{{ warehouse.address }}</td>
                <td>{% if warehouse.datCre %}{{ warehouse.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if warehouse.datUpd %}{{ warehouse.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('warehouse_new') }}">Create a new warehouse</a>
        </li>
    </ul>
{% endblock %}
